<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sytle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-container">
            <ul class="nav-bar">
            <li><a href="#">Home</a></li>
            <li><a href="#menu-section">Menu</a></li>
            <li><a href="#story-section">Our Story</a></li>
            <li>Contacts</li>
            <li>Order</li>
            </ul>
        </div
        </nav>
        <div class="header">
            <h1>coffe is always a good idea</h1>
            
        </div>
    </div>
    <div id="menu-section">
        <section class="menu-content"id="drinks">
            <img src="./pexels-viktoria-alipatova-2074130.jpg" alt="coffee shop table" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sapiente facilis necessitatibus fuga reiciendis repudiandae, minima quae accusantium similique illo. Omnis molestias quam fuga illum laborum accusantium amet incidunt nam.</p>
        </section>
        <section id="food" class="menu-content">
            <img src="./pexels-porapak-apichodilok-373639.jpg" alt="barista picture">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis corrupti velit architecto accusamus adipisci beatae ut, iste perspiciatis, temporibus quisquam aliquid nulla ullam laboriosam nisi nobis nemo voluptas laborum vero possimus illo id. Eos veniam, dolorem explicabo officiis iusto sint impedit cumque natus harum, magni exercitationem maiores distinctio sequi expedita.</p>
        </section>
    </div>
    <div id="story-section">
        <div><img src="./pexels-dmitry-zvolskiy-3679601.jpg" alt="coffe shop picture"></div> 
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum mollitia amet nostrum quos odio sequi maiores nisi eos perspiciatis commodi ut unde sunt, quibusdam officia rerum architecto vitae? Hic eligendi repellat quia reiciendis, asperiores blanditiis maiores reprehenderit saepe beatae eaque at dolore nam mollitia natus illum odio obcaecati, cupiditate magnam? Voluptatem eius pariatur quasi qui, recusandae accusamus dolorum eos doloribus quaerat, exercitationem amet, perferendis distinctio magni quo. Maiores, nam?</p>
        </div>
    </div>
</body>
</html>