* {
    box-sizing: border-box;
  }

  html {
    background: #000000;
  }

body {
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    background: #000000;
    color: #ffffff;
    background: linear-gradient(0deg, #000000, #262626);
    font-size: 14px;
    border: none;
    outline: none;
    padding: 0px 15px;
    width: 55px;
    height: 30px;
    line-height: 30px;
    border-radius: 32px;
  }
  button:hover {
    box-shadow: 0 0 8px 0px #ffffff61;
  }
  button:active {
    box-shadow: inset 0 0 6px 0px #ffffff61;
  }

  
#volume {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 5px;
  vertical-align: middle;
  border-radius: 20px;
  background-color: #232323;
  outline: none;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #ffffff;
  }

  